.footer{
	background-color: #343a3a;
	font-size: 12px;
	text-align: center;
	clear: both;
	margin: 0 auto;
	padding-bottom: 10px;
	overflow: hidden;
	font-family: "宋体";
	height: 181px;
}

.footer p{
	color: #eeeeee;
	word-spacing: 5px;
	padding: 15px 0px 0px;
}
.footer p a{
	color: #eeeeee;
}

.footer p i{
	background: url(../image/footer/gh.png);
	margin-right: 4px;
	vertical-align: middle;
	width: 18px;
	height: 20px;
	display: inline-block;
	font-style: normal;
}

.footer .footer-img{
	padding: 20px 0px 10px;
	width: 510px;
	margin: 0 auto;
	overflow: hidden;
}

.footer .footer-img li{
	display: block;
	float: left;
	margin-right: 20px;
}

.footer .footer-img li a{
	display: block;
	width: 106px;
	height: 40px;
	background: url(../image/footer/yangguang-footer.png);
}

.footer .footer-img li:nth-child(2) a{
	background-position-x: -250px;
}

.footer .footer-img li:nth-child(3) a{
	background-position-x: -365px;
}

.footer .footer-img li:nth-child(4) a{
	background-position-x: -485px;
}