html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {margin:0; padding:0;}

fieldset,img {border:none;}
img {display:block;}
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal;}
ul,ol {list-style:none;} 

body {color:#333; padding:5px 0; font:14px/24px "微软雅黑","宋体","Arial Narrow",HELVETICA; background:#fafafa;/* overflow-y:scroll;*/ overflow-x:hidden;}
a {color:#333; text-decoration:none;}
a:hover {color:#333;}
.layout {width:1000px; margin:0 auto; overflow:hidden;}


/*登录头部左侧*/
.login_header{
	border-bottom:1px #eee solid ;
	background: #fff;
}

.login_worp{
	height: 80px;
}


.login_worp .side_login{
	margin: 10px 0px 0px 0px;
	width: 240px;
	height: 68px;
	float: left;
	
}
.login_worp .side_login img{
	width: 240px;
	height: 68px;
}

.login_worp .login_header_right{
	font-size: 14px;
	color: #aaa;
	line-height: 20px;
	float: right;
	height: 40px;
	margin-top: 30px;
}


.login_worp .login_header_right span{
	vertical-align: middle;
	display: inline-block;
}

.login_worp .login_header_right .avatar{
	width: 40px;
	height: 40px;
	margin-right:6px;
	border-radius:100%;
}
.login_worp .login_header_right .avatar img{
	width: 40px;
	height: 40px;
	border-radius:100%;
}

.login_worp .login_header_right a{
	font-weight: 600;
	margin-left: 4px;
	color: #06c;
}

.login_main{
	width: 1000px;
	margin: 20px auto;
	position: relative;
	z-index: 1;
	min-height: 600px;
}

.login_main .left_picture{
	float: left;
}
.login_main .right_nc{
	background-color:#fff;
	width: 440px;
	padding: 19px 19px 29px 19px;
	border: 1px solid #e6e6e6;
	border-radius:5px ;
	float: right;
	position: relative;
	z-index: 1;
	
}


.login_main .right_nc .tab_nav{
	font-size: 0px;
	word-spacing: -1em;
	border-bottom: 1px solid #e6e6e6;
	overflow: visible;
}

.login_main .right_nc .tab_nav li{
	vertical-align: bottom;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: center;
	display: inline-block;
	width: 50%;
	height: 40px;
	margin-bottom: -1px;
}

.login_main .right_nc .tab_nav li a{
	
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 13px;
	position: relative;
	z-index: 1;
	font-family: "微软雅黑";
}

.login_main .right_nc .tab_nav li a.tablogin_active{
	display: block;
	color: #ff500b;
	border-bottom:3px solid #FF500B ;
}
.login_main .right_nc .tab_nav li a.tablogin_active i {
	display: block;
}

.login_main .right_nc .tab_nav li a i{
		font-size: 0;
		line-height: 0;
		border-color:#FF500B transparent transparent transparent;
		border-style: solid dashed dashed dashed;
		border-width:7px;
		display: none;
		width: 0;
		height: 0;
		margin-left: -4px;
		position: absolute;
		z-index: 1;
		left: 50%;
		bottom: -17px;
		
}

.right_nc .arrow{
	background: url(../image/login/login_pic.png) no-repeat -280px 0;
	width: 17px;
	height: 9px;
	position: absolute;
	z-index: 1;
	top: -9px;
	left: 160px;
}

.right_nc .tab_constainer{
	height: 252px;
	margin-top: 30px;
	padding: 0px 40px 20px 40px;
	position: relative;
	z-index: 1;
}
.right_nc .tab_constainer .commonModule{
	position: absolute;
	top: 0;
	width: 352px;
}
.right_nc .tab_constainer .commonModule .nc_login_form{
	display: block;
}


.right_nc .tab_constainer .commonModule .nc_login_form dl{
	width: 348px;
	background-color: #fff;
	height: 52px;
	margin-top: -1px;
	border: 1px solid #e6e6e6;
	position: relative;
	z-index: 1;
}

.right_nc .tab_constainer .commonModule .nc_login_form dl dt{
	font-size: 14px;
	line-height: 20px;
	color: #666;
	width: 88px;
	padding: 16px 0px 16px 20px;
	float: left;
}

.right_nc .tab_constainer .commonModule .nc_login_form dl dd{
	height: 28px;
	float: left;
	padding: 12px 0;
}


.right_nc .tab_constainer .commonModule .nc_login_form dl dd .text{
	outline: none;
	width: 240px;
	font-size: 14px;
	line-height: 28px;
	height: 28px;
	padding: 0;
	border: none;
}
.right_nc .tab_constainer .commonModule .nc_login_form .verificationcode{
	height: 54px;
	width: 100%;
}

.right_nc .tab_constainer .commonModule .nc_login_form .verificationcode dl{
	width: 228px;
	float: left;
}
.right_nc .tab_constainer .commonModule .nc_login_form .verificationcode span{
	width: 119px;
	height: 52px;
	float: left;
	color:red;
	margin: -1px 0 0 -1px;
	border: solid 1px #e6e6e6;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 52px;
	font-family: "Georgia";
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: black;
}


.verificationcode_d{
	width: 122px;
	height: 54px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 14px;
	position: absolute;
    left: 227px;
    top: 106px;
    z-index: 4;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    display: none;
   
}
.right_nc .tab_constainer .commonModule .nc_login_form .verificationcode dl dd input{
	outline: none;
	width: 100px;
}

.right_nc .tab_constainer .commonModule .nc_login_form .handle_div{
	line-height: 20px;
	margin-top: 15px;
	overflow: hidden;	
}

.right_nc .tab_constainer .commonModule .nc_login_form .handle_div .auto{
	float: left;
	color: #999;
}
.right_nc .tab_constainer .commonModule .nc_login_form .handle_div .forget{
	float: right;
	color: #06c;
}

.right_nc .tab_constainer .commonModule .nc_login_form .handle_div .checkbox{
	vertical-align: middle;
	margin-left: 4px;
	display: inline-block;
}

.right_nc .tab_constainer .commonModule .nc_login_form .submit_div{
	margin-top: 15px;
}

.right_nc .tab_constainer .commonModule .nc_login_form .submit_div .submit{
	width: 348px;
	font-size: 16px;
	color: #fff;
	background-color: #FF500B;
	font-weight: 600;
	height: 42px;
	cursor: pointer;
	border-radius: 3px;	
}

.nc_login_weixin{
	width: 340px;
	margin: 0 auto;
}

.nc_login_weixin{
	font-size: 12px;
	line-height: 20px;
	color: #333;
	font-weight: 600;
	height: 20px;
	margin-bottom:10px ;
}

.nc_login_weixin i{
	background: url(../image/login/login_pic.png) no-repeat -64px 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	vertical-align: middle;
	
}
.nc_login_weixin a{
	font-size: 12px;
	color: #aaa;
	vertical-align: top;
	display: inline-block;
	height: 32px;
	margin-right: 24px;
	line-height: 32px;
}



.mobieleLogin{
	position: absolute;
	top: 0;
	height: 352px;
}



.right_nc .tab_constainer .mobieleLogin .nc_login_form{
	display: block;
}


.right_nc .tab_constainer .mobieleLogin .phone_login dl{
	width: 348px;
	background-color: #fff;
	height: 52px;
	margin-top: -1px;
	border: 1px solid #e6e6e6;
	position: relative;
	z-index: 1;
}

.right_nc .tab_constainer .mobieleLogin .phone_login dl dt{
	font-size: 14px;
	line-height: 20px;
	color: #666;
	width: 88px;
	padding: 16px 0px 16px 20px;
	float: left;
}

.right_nc .tab_constainer .mobieleLogin .phone_login dl dd{
	height: 28px;
	float: left;
	padding: 12px 0;
}


.right_nc .tab_constainer .mobieleLogin .phone_login dl dd .text{
	outline: none;
	width: 240px;
	font-size: 14px;
	line-height: 28px;
	height: 28px;
	padding: 0;
	border: none;
}

.right_nc .tab_constainer .mobieleLogin .phone_login .verificationcode_two{
	height: 54px;
	width: 100%;
}

.right_nc .tab_constainer .mobieleLogin .phone_login .verificationcode_two dl{
	width: 228px;
	float: left;
}
.right_nc .tab_constainer .mobieleLogin .phone_login .verificationcode_two span{
	width: 119px;
	height: 52px;
	float: left;
	margin: -1px 0 0 -1px;
	border: solid 1px #e6e6e6;
	position: relative;
	z-index: 1;
	
}
.right_nc .tab_constainer .mobieleLogin .phone_login .verificationcode_two dl dd input{
	outline: none;
	width: 100px;
}

.phone_login .tipContent{
	line-height: 20px;
	margin: 15px 0px;
	color: #999;
	width: 352px;
}

.phone_login .tipContent a{
	display: inline-block;
	line-height: 22px;
	color: #fff;
	height: 22px;
	padding: 0 8px;
	margin: 0 4px;
	border-radius: 2px;
	background-color:#21b384 ;
}


.phone_error{
	color: #000;
    line-height: 24px;
    background: #FFF5D9 no-repeat 0 0;
    text-align: left;
    white-space: nowrap;
    height: 24px;
    padding: 8px 12px 8px 24px;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 300px;
   display: none;
}
.phone_error .phone_error_s{
	float: left;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	background: #FF500B;
	color: #fff;
	margin-left: -20px;
	margin-top: 2px;
	margin-right: 5px;
	font-size: 20px;
}






